.cart-items-container {
  margin: 40px 0;
  padding: 0 60px;
}
.cart-items-container hr {
  height: 1px;
  background: #dee0ea;
  border: none;
}
.cart-items-title {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  gap: 75px;
  padding: 20px 0;
  font-weight: 600;
}

.cart-items-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  gap: 75px;
  padding: 20px 0;
  align-items: center;
}
.cart-items-product-img {
  width: 80px;
}
.cart-items-quantity {
  border: none;
  background-color: transparent;
}
.cart-items-remove {
  border: none;
  background-color: transparent;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.cart-items-total-container {
  display: flex;
  margin: 60px 0;
}
.cart-items-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  gap: 20px;
}
.cart-items-total-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cart-items-total button {
  width: 262px;
  height: 36px;
  outline: none;
  border: none;
  background-color: #ffcc00;
  font-weight: 600;
  cursor: pointer;
}

.cart-items-promocode {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cart-items-promobox {
  width: 350px;
  height: 42px;
  margin-top: 10px;
  padding-left: 20px;
  background-color: #f3f3f3;
}
.cart-items-promobox input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  width: 270px;
  height: 40px;
}
.cart-items-promobox button {
  width: 80px;
  height: 38px;
  background-color: #ffcc00;
  border: none;
  cursor: pointer;
}
@media (max-width: 428px) {
  .cart-items-container {
    padding: 0 30px;
  }
  .cart-items-title {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px 0;
  }
  .cart-items-main {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    padding: 20px 0;
  }
  .cart-items-total h1 {
    font-size: 24px;
  }
  .cart-items-total-container {
    flex-direction: column;
  }
  .cart-items-promocode {
    margin-top: 20px;
  }
  .cart-items-promobox input {
    width: 200px;
    height: 40px;
  }
  .cart-items-promobox {
    width: 280px;
    height: 42px;
  }
  .cart-items-promobox button {
    width: 78px;
    height: 38px;
  }
}
