.policylist-container {
  margin-top: 30px 0;
  margin-bottom: 20px 0;
  padding: 30px 60px;
  border-top: 1px solid #dee0ea;
}
.policy-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.policy-text {
  display: flex;
  flex-direction: column;
}
.policy-icon {
  width: 50px;
  height: 50px;
}
