.shop-category-container {
  margin: 10px 0;
  padding: 0 60px;
}
.shop-category-banner {
  margin-bottom: 20px;
}
.shop-category-info {
  margin: 10px;
}
.shop-category-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shop-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
